:root{
    --base-varient:#1F2937;
    --main-bg-color:#ECFDF5;
    --primiry-text-color:#2B283A;
    --secondry-text-color:#10B981;
    --third-text-color:#6B7280;
    --output-text-color:#5DEF92;
    --output-bg-color:#273549;
    --btn-bg-color:#10B981;
    --btn-text-color:#ffffff;
    --outline-bg-color:#D5D4D8;
}

.darkmode{
    --base-varient:#ECFDF5;
    --main-bg-color:#1F2937;
    --primiry-text-color:#ffffff;
    --secondry-text-color:#4ADF86;
    --third-text-color:#E5E7EB;
    --output-text-color:#55F991;
    --output-bg-color:#273549;
    --btn-bg-color:#10B981;
    --btn-text-color:#ffffff;
    --outline-bg-color:#2F3E53;;
    
}

body{
    margin: 0;
    padding: 20px;
    background-color: var(--main-bg-color);
}

#container{
        width: 500px;
        margin: 0 auto;
        padding: 20px;
}

@media (min-width:768px) {
    #container {
        width: 750px;
}
}

@media (min-width:992px) {
    #container {
        width: 970px;
}
}

@media (min-width:1200px) {
    #container {
        width: 1170px;
}
}



#container h1{
    color: var(--primiry-text-color);
    font-family: "Karla";
    font-weight: bolder;
    font-size: 40px;
    margin-bottom: 0;
}

#container p:first-of-type{
    color: var(--third-text-color);
    font-family: "Karla";
    font-weight: 300;
    font-size: 22px;
    margin:10px 0px 50px 0px;
}

#container #generate-btn{
    background-color: var(--btn-bg-color);
    color: var(--btn-text-color);
    border: 0;
    padding: 10px 15px;
    border-radius: 5px;
}

hr{
    height: 1px;
    width: 450px;
    border: 0;
    background-color: var(--outline-bg-color);
    margin: 35px 0;
}


#theme-switch{
    width: 50px;
    height: 50px;
    padding: 0;
    border: 0;
    border-radius: 50%;
    background-color: var(--base-varient);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 20px;
    right: 20px;
}


#theme-switch svg{
    fill: var(--main-bg-color);
}

#theme-switch svg:last-child{
    display: none;
}

.darkmode #theme-switch svg:first-child{
    display: none;
}

.darkmode #theme-switch svg:last-child{
    display: block;
}
/* Utility style */

.random-text{
    color: var(--secondry-text-color);
}

.password-field{

    display: inline-block;
    width: 210px;
    background-color: var(--output-bg-color);
    color: var(--output-text-color);
    font-family: "Inter","monospace";
    border-radius: 5px;
    margin: 0 25px 0 0;
    text-align: center;
    padding: 10px 12px;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 200;
    line-height: 1.2;
    min-height: 40px;
    vertical-align: middle;
}

/* Utility style */